*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --blue-gray: #4B5364;
  --gray: #B2B6BE;
  --yellow: #FFD900;
  --cyan: #5ECBF3;
  --blue: #3A5994;
  --light-blue: #afcbff;
  --nav: #639AFF;
  --white: #F8F0FB;
  --nav-text: #E3DCE6;
  --dark: #403233;
  --orange:#FE5D26;
  --forside-utpressing-mint: #12664F;
}

body{
  min-height: 100vh;
  font-family: roboto, sans-serif;
}

/* Navbar */

.navbar{
  background-color: var(--nav);
  padding: 1vh;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  list-style-type: none;
  text-decoration: none;
}

.h-li-su{
  justify-self: end;
  align-self: center;
}

.h-a-su{
  color: var(--nav-text);
  text-decoration: none;
  transition: all .2s;
}

.h-a-su:hover{
  color: var(--yellow);
}

.h-a-su-aktiv{
  color: var(--yellow);
  text-decoration: none;
}

.h-riksvapen{
  height: 10vh;
}

.h-a-riksvapen{
  grid-column: 2 / 2;
  justify-self: center;
}

.h-li-jsu{
  justify-self: start;
  align-self: center;
}

.h-a-jsu:hover{
  transition: all .2s;
  color: var(--yellow);
}

.h-a-jsu-aktiv{
  color: var(--yellow);
  text-decoration: none;
}

.h-a-jsu{
  color: var(--nav-text);
  text-decoration: none;
}

/* Top side */

.top-side{
  background-color: var(--blue);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.front-side{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}

.main-h2{
  text-align: center;
  width: 50%;
  justify-self: center;
  align-self: end;
  font-weight: 400;
  font-size: 25px;
  opacity: 70%;
  color: var(--white);
}

.main-h1{
  justify-self: center;
  align-self: start;
  font-weight: 700;
  font-size: 75px;
  color: var(--white);
}

/* Poll */
.side-2{
  background-color: var(--light-blue);
  display: grid;
  height: 30vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gif-side-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-right: 10vh;
  justify-self: end;
  grid-area: 1 / 1 / 2 / 2;
}

.gif-juletre{
  max-width: 40vh;
  height: auto;
  padding: 0vh 0vh;
  align-self: center;
}

#poll{
  align-self: center;
  grid-area: 1 / 2 / 2 / 3;
}

.poll-h2{
  font-size: 25px;
  font-weight: 500;
}

.poll-h3{
  font-weight: 400;
  font-size: 17px;
}

.poll-knapp{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  outline: var(--cyan);

  border:none;
  width: 16px;
  height: 16px;

  border: 2px solid var(--orange);
  margin-right: 5px;

  position: relative;
  top: 4px;
}

/* Parallax */
.parallax-img{
  background-image: url("../assets/trist-mann.jpg");
  min-height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-tekst{
  padding: 20vh 0 0 0;
  font-size: 40px;
  text-align: center;
  color: var(--white);
  text-shadow: 1px 1px 6px black;
}

/* Ikke la deg hypnotiserer */

.side-3{
  border-style: solid;
  border-width: 5px 0 5px 0;
  border-color: grey;
  height: 50vh;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gif-side-3{
  margin-right: 10vh;
  justify-self: end;
  grid-area: 1 / 1 / 2 / 2;
}

.gif-hypnotisere{
  max-width: 20vh;
  height: auto;
  padding: 7vh 0vh;
}

.hypnotisere{
  padding: 12vh 70vh 0vh 0vh;
  grid-area: 1 / 2 / 2 / 3;
}

.hypnotisere-h2{
  font-size: 25px;
  font-weight: 500;
}

.hypnotisere-h3{
  font-weight: 400;
  font-size: 20px;
}

/* videoene*/
.videoene{
  background-color: var(--light-blue);
  padding: 0 25vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.video1 {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
  height: 0;
  grid-area: 1 / 1 / 2 / 2;
}
.video1 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video1-tekst{
  grid-area: 2 / 1 / 3 / 2;
  padding-top: 2vh;
}

.video2 {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
  height: 0;
  grid-area: 2 / 2 / 3 / 3;
}
.video2 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  height: 100%;
}

.video2-tekst{
  grid-area: 1 / 2 / 2 / 3;
  align-self: flex-end;
  padding-bottom: 2vh;
  padding-left: 2vh;
}

.video-h2{
  font-size: 25px;
  font-weight: 500;
}

.video-h3{
  padding-top: 1vh;
  font-weight: 400;
  font-size: 17px;
}

.parallax-img-side4{
  background-color: var(--white);
  background-image: url("../assets/mann-peker.png");
  min-height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.parallax-tekst-side4{
  grid-area: 1 / 1 / 2 / 2;
  align-self: flex-end;
  text-align: right;
}

.parallax-link{
  text-decoration: none;
  color: var(--orange);
}

.parallax-link:hover{
  transition: all .2s;
  color: var(--yellow);
  text-decoration: underline;
}






/* Footer */

.footer{
  background-color: var(--blue-gray);
}

.d-footer{
  padding: 1vh 20vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: flex-end;
}

.f-li{
  list-style-type: none;
}

.f-a{
  color: var(--white);
  text-decoration: none;
}

.f-a:hover{
  transition: all .2s;
  color: var(--yellow);
  text-decoration: underline;
}

.f-ring{
  font-weight: 700;
  font-size: 23px;
  grid-area: 1 / 1 / 2 / 2;
}

.f-ring-samtale{
  grid-area: 2 / 1 / 3 / 2;
}

.f-ring-tips{
  grid-area: 3 / 1 / 4 / 2;
}

.f-ring-kontakt{
  grid-area: 4 / 1 / 5 / 2;
}

.f-nummer{
  font-weight: 700;
  font-size: 23px;
  grid-area: 1 / 2 / 2 / 3;
}

.f-nummer-sms{
  grid-area: 2 / 2 / 3 / 3;;
}

.f-om-nettsiden{
  font-weight: 700;
  font-size: 23px;
  grid-area: 1 / 3 / 2 / 4;
}

.f-om-peronvern-og-infomasjonskapsler{
  grid-area: 2 / 3 / 3 / 4;
}

.f-om-peronvernerklæring{
  grid-area: 3 / 3 / 4 / 4;
}

.f-om-skoleprosjekt{
  grid-area: 4 / 3 / 5 / 4;
}

.d-kopirett{
  background-color: var(--blue-gray);
  color: var(--white);
  text-align: center;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: grey;
  padding: 1vh;
}

.github{
  text-decoration: none;
  color: var(--cyan);
}

.github:hover{
  transition: all .2s;
  color: var(--yellow);
  text-decoration: underline;
}

/* Utsatt for seksuell utpressing */
/* Top side */

.top-side-utsatt{
  background-color: var(--forside-utpressing-mint);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.front-side-utsatt{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}

.main-h2-utsatt{
  text-align: center;
  width: 50%;
  justify-self: center;
  align-self: end;
  font-weight: 400;
  font-size: 25px;
  opacity: 70%;
  color: var(--white);
}

.main-h1-utsatt{
  justify-self: center;
  text-align: center;
  align-self: start;
  font-weight: 700;
  font-size: 75px;
  color: var(--white);
  padding: 0 40vh;
}

/* Parallax */
.parallax-img-utsatt{
  background-image: url("../assets/trist-gutt.jpg");
  min-height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Slik gjør du hvis du er utsatt */
.gjor-utsatt-utpressing{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.bryt-kontakt-sjell{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--orange);
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: white;
}

.bryt-kontakt-sjell img{
  width: 5vh;
  height: auto;
  transform: rotate(45deg);
}

.bryt-kontakt-sjell div{
  justify-self: center;
}

.bryt-kontakt-sjell h2{
  padding: 0px 15vh;
}

.dont-pay-sjell{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--orange);
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: white;
}

.dont-pay-sjell img{
  padding-top: 2vh;
  width: 13vh;
  height: auto;
}

.dont-pay-sjell div{
  justify-self: center;
}

.dont-pay-sjell h2{
  padding: 0px 15vh;
}


/* terms */
.terms{
  padding: 15vh 70vh 15vh 25vh;
  min-height: 100vh;
  line-height: 1.5;
  background-color: rgb(199, 199, 199);
}

.terms h1{
  font-size: 45px;
  font-weight: 300;
  line-height: 1.5;
}

.terms h2{
  font-size: 32px;
  font-weight: 300;
}

.terms h3{
  font-size: 22px;
  font-weight: 300;
  line-height: 1.2;
}

.terms li{
  font-size: 22px;
  font-weight: 300;
  line-height: 1.2;
}

.pil-up{
  height: 10vh;
  position: absolute;
  top: 0;
  right: 0;
}

.top-side-skoleprosjekt{
  background-color: rgb(102, 0, 0);
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* Informasjonskapsler */

.informasjonskapsler{
  background-color:  rgb(199, 199, 199);
  padding: 15vh 50vh 0vh 50vh;
  min-height: 66vh;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.informasjonskapsler-div{
  justify-self: center;
}


.informasjonskapsler h1{
  font-size: 45px;
  font-weight: 300;
  line-height: 1.5;
}

.informasjonskapsler h2{
  font-size: 32px;
  font-weight: 300;
  line-height: 1.5;
}

.informasjonskapsler h3{
  font-size: 22px;
  font-weight: 300;
  line-height: 1.2;
}

/* Kampanje */
.kampanje-h2{
  text-align: center;
  width: 60%;
  justify-self: center;
  align-self: end;
  font-weight: 400;
  font-size: 25px;
  opacity: 70%;
  color: var(--white);
}

.kampanje{
  margin: 0vh 20vh;  
}

.showreel{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.showreel h2{
  padding-top: 2vh;
  font-size: 25px;
  font-weight: 500;
  align-self: end;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
}

.showreel iframe{
  width: 65vw;
  height: 70vh;
  justify-self: center;
  grid-area: 2 / 1 / 3 / 2;
}

.markedsføring{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr repeat(3, 2fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
}

.markedsføring h2{
  font-size: 25px;
  font-weight: 500;
  grid-area: 1 / 1 / 2 / 2;
  align-self: flex-end;
}

.markedsføring div{
  padding: 2vh;
}

.instagram-post{
  width: 15vh;
  height: auto;
}

.dokumentasjon{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.dokumentasjon h2{
  font-size: 25px;
  font-weight: 500;
  align-self: end;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
}

.dokumentasjon a{
  font-size: 25px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}


.dokumentasjon a:hover{
  transition: all .2s;
  text-decoration: underline;
  color: var(--yellow);
}

.dokumentasjon iframe{
  justify-self: center;
  height: 90vh;
  width: 90vh;
  grid-area: 2 / 1 / 3 / 2;
  border: none;
}

.designprofil{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-bottom: 2vh;
}

.designprofil h2{
  font-size: 25px;
  font-weight: 500;
  align-self: end;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
}

.designprofil a{
  font-size: 25px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}


.designprofil a:hover{
  transition: all .2s;
  text-decoration: underline;
  color: var(--yellow);
}

.designprofil iframe{
  justify-self: center;
  height: 90vh;
  width: 90vh;
  grid-area: 2 / 1 / 3 / 2;
  border: none;
}