*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --blue-gray: #4B5364;
  --gray: #B2B6BE;
  --yellow: #FFD900;
  --cyan: #5ECBF3;
  --blue: #3A5994;
  --white: #F8F0FB;
  --dark: #403233;
  --orange:#FE5D26;
}

body{
  min-height: 100vh;
  font-family: roboto, sans-serif;
}

.header{
  background-color: var(--cyan);
  padding: 1vh;
  position: fixed;
  width: 100%;
  z-index: 9999;
}



.ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  list-style-type: none;
  text-decoration: none;
}

.h-li-su{
  justify-self: end;
  align-self: center;
}

.h-a-su{
  color: black;
  text-decoration: none;
  transition: all .2s;
}

.h-a-su:hover{
  color: var(--yellow);
}

.h-riksvapen{
  height: 10vh;
}

.h-a-riksvapen{
  grid-column: 2 / 2;
  justify-self: center;
}

.h-li-jsu{
  justify-self: start;
  align-self: center;
}

.h-a-jsu:hover{
  transition: all .2s;
  color: var(--yellow);
}

.h-a-jsu{
  color: black;
  text-decoration: none;
}

.top-side{
  background-color: var(--blue);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.front-side{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}

.main-h2{
  text-align: center;
  width: 50%;
  justify-self: center;
  align-self: end;
  font-weight: 400;
  font-size: 25px;
  opacity: 70%;
  color: var(--white);
}

.main-h1{
  justify-self: center;
  align-self: start;
  font-weight: 700;
  font-size: 75px;
  color: var(--white);
}

.side2{
  height: 120vh;
  background-color: var(--dark);
}

/* Footer */

.footer{
  background-color: var(--blue-gray);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.f-li{
  list-style-type: none;
}

.f-a{
  color: black;
  text-decoration: none;
}

.f-ring{
  font-weight: 700;
  font-size: 23px;
  grid-row: 1 / 1;
}

.f-ring-samtale{
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.f-ring-tips{
  grid-row: 1 / 1;
  grid-column: 2 / 2;
}

.f-ring-kontakt{
  grid-row: 1 / 1;
  grid-column: 3 / 3;
}

.f-nummer{
  font-weight: 700;
  font-size: 23px;
  grid-row: 2 / 2;
  grid-column: 1 / 1;
}

.f-nummer-sms{
  grid-row: 2 / 2;
  grid-column: 2 / 2;
}

.f-om-nettsiden{
  font-weight: 700;
  font-size: 23px;
  grid-row: 3 / 3;
  grid-column: 1 / 1;
}

.f-om-peronvern-og-infomasjonskapsler{
  grid-row: 3 / 3;
  grid-column: 2 / 2;
}

.f-om-peronvernerklæring{
  grid-row: 3 / 3;
  grid-column: 3 / 3;
}

.f-om-skoleprosjekt{
  grid-row: 3 / 3;
  grid-column: 4 / 4;
}