*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --blue-gray: #4B5364;
  --gray: #B2B6BE;
  --yellow: #FFD900;
  --cyan: #5ECBF3;
  --blue: #3A5994;
  --light-blue: #afcbff;
  --nav: #639AFF;
  --white: #F8F0FB;
  --nav-text: #E3DCE6;
  --dark: #403233;
  --orange:#FE5D26;
}

body{
  min-height: 100vh;
  font-family: roboto, sans-serif;
}

/* Navbar */

.navbar{
  background-color: var(--nav);
  padding: 1vh;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  list-style-type: none;
  text-decoration: none;
}

.h-li-su{
  justify-self: end;
  align-self: center;
}

.h-a-su{
  color: var(--nav-text);
  text-decoration: none;
  transition: all .2s;
}

.h-a-su:hover{
  color: var(--yellow);
}

.h-riksvapen{
  height: 10vh;
}

.h-a-riksvapen{
  grid-column: 2 / 2;
  justify-self: center;
}

.h-li-jsu{
  justify-self: start;
  align-self: center;
}

.h-a-jsu:hover{
  transition: all .2s;
  color: var(--yellow);
}

.h-a-jsu{
  color: var(--nav-text);
  text-decoration: none;
}

/* Top side */

.top-side{
  background-color: var(--blue);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.front-side{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}

.main-h2{
  text-align: center;
  width: 50%;
  justify-self: center;
  align-self: end;
  font-weight: 400;
  font-size: 25px;
  opacity: 70%;
  color: var(--white);
}

.main-h1{
  justify-self: center;
  align-self: start;
  font-weight: 700;
  font-size: 75px;
  color: var(--white);
}

/* Poll */
.side-2{
  background-color: var(--light-blue);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gif-side-2 {
  margin-right: 10vh;
  justify-self: end;
  grid-area: 1 / 1 / 2 / 2;
}

.gif-juletre{
  max-width: 30vh;
  height: auto;
  padding: 10vh 0vh;
}

#poll{
  padding-top: 10vh;
  grid-area: 1 / 2 / 2 / 3;
}

.poll-h2{
  font-size: 25px;
  font-weight: 500;
}

.poll-h3{
  font-weight: 400;
  font-size: 17px;
}

.poll-knapp{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  outline: var(--cyan);

  border:none;
  width: 16px;
  height: 16px;

  border: 2px solid var(--orange);
  margin-right: 5px;

  position: relative;
  top: 4px;
}

/* Parallax */
.parallax-img{
  background-image: url("assets/sad-mann.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Ikke la deg hypnotiserer */
/* Animation Three */


.animate span:nth-of-type(2) {
	animation-delay: .05s;
}
.animate span:nth-of-type(3) {
	animation-delay: .1s;
}
.animate span:nth-of-type(4) {
	animation-delay: .15s;
}
.animate span:nth-of-type(5) {
	animation-delay: .2s;
}
.animate span:nth-of-type(6) {
	animation-delay: .25s;
}
.animate span:nth-of-type(7) {
	animation-delay: .3s;
}
.animate span:nth-of-type(8) {
	animation-delay: .35s;
}
.animate span:nth-of-type(9) {
	animation-delay: .4s;
}
.animate span:nth-of-type(10) {
	animation-delay: .45s;
}
.animate span:nth-of-type(11) {
	animation-delay: .5s;
}
.animate span:nth-of-type(12) {
	animation-delay: .55s;
}
.animate span:nth-of-type(13) {
	animation-delay: .6s;
}
.animate span:nth-of-type(14) {
	animation-delay: .65s;
}
.animate span:nth-of-type(15) {
	animation-delay: .7s;
}
.animate span:nth-of-type(16) {
	animation-delay: .75s;
}
.animate span:nth-of-type(17) {
	animation-delay: .8s;
}
.animate span:nth-of-type(18) {
	animation-delay: .85s;
}
.animate span:nth-of-type(19) {
	animation-delay: .9s;
}
.animate span:nth-of-type(20) {
	animation-delay: .95s;
}
.animate span:nth-of-type(21) {
	animation-delay: .95s;
}

.animate {
	font-size: 50px;
	margin: 5vh 0 0;
	border-bottom: 2px solid #ccc;
}

.animate span {
	display: inline-block;
}

.three span {
	color: #b10e81;
	opacity: 0;
	transform: translate(-300px, 0) scale(0);
	animation: sideSlide .5s forwards;
}

@keyframes sideSlide {
	60% {
		transform: translate(20px, 0) scale(1);
		color: #b10e81;
	}

	80% {
		transform: translate(20px, 0) scale(1);
		color: #b10e81;
	}

	99% {
		transform: translate(0) scale(1.2);
		color: #00f0ff;
	}

	100% {
		transform: translate(0) scale(1);
		opacity: 1;
		color: #b10e81;
	}
}


.side-3{
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gif-side-3{
  margin-right: 10vh;
  justify-self: end;
  grid-area: 1 / 1 / 2 / 2;
}

.gif-hypnotisere{
  max-width: 20vh;
  height: auto;
  padding: 5vh 0vh;
}

.hypnotisere{
  grid-area: 1 / 2 / 2 / 3;
}

/* Footer */

.footer{
  background-color: var(--blue-gray);
}

.d-footer{
  padding: 0vw 20vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.f-li{
  list-style-type: none;
}

.f-a{
  color: black;
  text-decoration: none;
}

.f-ring{
  font-weight: 700;
  font-size: 23px;
  grid-area: 1 / 1 / 2 / 2;
}

.f-ring-samtale{
  grid-area: 2 / 1 / 3 / 2;
}

.f-ring-tips{
  grid-area: 3 / 1 / 4 / 2;
}

.f-ring-kontakt{
  grid-area: 4 / 1 / 5 / 2;
}

.f-nummer{
  font-weight: 700;
  font-size: 23px;
  grid-area: 1 / 2 / 2 / 3;
}

.f-nummer-sms{
  grid-area: 2 / 2 / 3 / 3;;
}

.f-om-nettsiden{
  font-weight: 700;
  font-size: 23px;
  grid-area: 1 / 3 / 2 / 4;
}

.f-om-peronvern-og-infomasjonskapsler{
  grid-area: 2 / 3 / 3 / 4;
}

.f-om-peronvernerklæring{
  grid-area: 3 / 3 / 4 / 4;
}

.f-om-skoleprosjekt{
  grid-area: 4 / 3 / 5 / 4;
}

.d-kopirett{
  background-color: var(--blue-gray);
  text-align: center;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: grey;
  padding: 1vh;
}

.github{
  text-decoration: none;
  color: var(--cyan);
}

.github:hover{
  transition: all .2s;
  color: var(--yellow);
  text-decoration: underline;
}
